<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
      {% if page.layout == 'post' %}
        {{ page.title }} :: 
      {% endif %}
      {{ site.name }}
    </title>

    <!-- Bootstrap -->
    <link href="/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    
    <!-- Pygment styles -->
    <link href="/assets/styles/pygments/github.css" rel="stylesheet">

    <!-- Custom styles -->
    <link href="/assets/styles/styles.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    <!-- RSS -->
  	<link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">
  	
  	<script type="text/javascript">
		var site = "{{ site.url }}";

		function googleSiteSearch(scope) {
			scope.q.value = scope.q.value + " site:" + site;
		}
	</script>
  	
 </head>