.page-header {
	margin-top: 60px;
}

p.content,
section.post-content {
	line-height: 32px;
	font-size: 110%;
	font-weight: 300;
	font-family: "Roboto Slab", sans-serif; 
}

section.post-content {
	margin-top: 32px;
	text-align: justify;
}

section.post-content p {
	margin-bottom: 32px;
}

div.panel-body.profile {
	vertical-align: middle;
}

img.profile {
	border: 4px solid #E3E3E3;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	width: 64px;
	height: 64px;
}

a.profile i {
	font-size: 300%;
	color: #E3E3E3;
}

.profile-links {
	text-align: right;
}

.jumbotron h1,
.jumbotron p {
	color: black;
}

.jumbotron p {
	color: white;
}

.jumbotron.index {
	background-image: url('/assets/images/himmelbjerget.jpg');
}

.container.post p {
	text-align: justify;
}

.footer-link {
	color: #808080;
	text-decoration: underline;
}

.footer-link:hover {
	text-decoration: none;
}