.badges {
  a {
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }
}

nav.main {
  border-top: 9px solid @yellow;
  min-height: 99px;

  ul.nav {
    margin-top: 4ex;
    position: relative;
  }

  a.nav-link {
    white-space: nowrap;
  }

  .dropdown-toggle:after {
    content: none; // removes default caret for dropdown menus
  }

  .navigation-cell {
    vertical-align: bottom;
  }

  a.logo {
    display: block;
    height: 93px;
    background-repeat: no-repeat;
    background-size: contain;
  }

}

main {
  margin-top: @section-offset * 2;

  h1, h2, h3, h4, h5, h6 {
    font-family: Gilroy, "Helvetica Neue", sans-serif;
    font-weight: normal;
    margin-bottom: 1.5ex;
  }

  p a {
    text-decoration: underline;
  }

  blockquote {

    //TODO
    //&::before {
    //  content: "\"";
    //  font-weight: bolder;
    //  font-size: 3rem;
    //  color: @grey-dark;
    //}

    @media (min-width: 768px) {
      margin-left: 33px;
    }

    padding: 2ex 1.5em;

    p {
      margin: 0;
    }

   }

  img.profile {
    border-width: 4px;
    border-style: solid;
    margin-left: 1em;
    margin-right: 1em;
    width: 64px;
    height: 64px;
  }

  .strike {
    text-decoration: line-through;
  }

}

footer {

  margin-top: 9ex;
  border-bottom: 9px solid @yellow;

  h3 {
    font-size: 1.1em;
    font-weight: bold;
    margin-top: 3ex;
    margin-bottom: 2ex;
  }

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  div.container > div.row:first-of-type {
    border-bottom-width: 1px;
    border-bottom-style: solid;
  }

  .icon {
    min-height: 32px;
    background-repeat: no-repeat;
  }

  .row {
    padding: 3.33ex 3.33em;
  }

}