---
layout: airquill
---
<article class="row post-content">

	<div class="col-lg-9">

		<h1>{{ page.title }}</h1>

		<p class="small post-info">
			<i class="fas fa-calendar-day">&nbsp;</i> {{page.date | date_to_long_string }}
			{% if page.location %} | <i class="fas fa-map-marker">&nbsp;</i>{{ page.location }} {% endif %}
			{% if page.tldr %}
			| <i class="fas fa-clock">&nbsp;</i>
			<a href="#tldr">
				TL;DR
			</a>
			{% endif %}
		</p>

		<p class="post-image">
			<img class="header" src="{{ page.image.url }}" title="{{ page.image.title }}" />
		</p>

		{{ content }}

		<hr />

	</div>

	<div class="col-lg-3">
		&nbsp;
	</div>

</article>

<section class="row article-signature">
	<div class="col-lg-9">
		<div class="media">
			<a class="pull-left" href="/about.html">
				<img class="media-object profile" src="/assets/images/profile-picture.jpg" alt="Tiese Barrell" />
			</a>
			<div class="media-body profile">
				<h4 class="media-heading">
					Tiese Barrell&nbsp;
					<span class="badges">
						<a href="https://twitter.com/tiesebarrell">
							<i class="fab fa-twitter-square"></i>
						</a>
						&nbsp;
						<a href="http://mazidea.com">
							<i class="fas fa-link"></i>
						</a>
					</span>
				</h4>
				<p>I should write something <span class="strike">funny</span> profound here.</p>
			</div>
		</div>

		<hr />

		<p>
			<i class="fas fa-pen-square">&nbsp;</i> {{ page.content | number_of_words }} words <br />

			<i class="fas fa-tags">&nbsp;</i>Posted in
			{% for tag in page.tags %}
			<a href="/tag/{{tag}}" title="Posts with tag {{tag}}">{{tag}}</a>&nbsp;
			{% endfor %}
			<br />

			<i class="fas fa-share-square">&nbsp;</i>Share&nbsp;
			<span class="badges">
				<a href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{ site.url}}{{ page.url }}&amp;title={{ page.title }}&amp;summary=Put your summary here" target="_blank">
					<i class="fab fa-linkedin">&nbsp;</i>
				</a>
				<a href="http://twitter.com/share?text={{ page.title }}&amp;url={{ site.url }}{{ page.url }}" target="_blank">
					<i class="fab fa-twitter-square">&nbsp;</i>
				</a>
				<a href="{{page.url}}" title="Permalink to this post">
					<i class="fas fa-link">&nbsp;</i>
				</a>
			</span>
		</p>


	</div>
	<div class="col-lg-3">
		&nbsp;
	</div>
</section>

{% if page.tldr %}
<section class="row tldr">
	<div class="col-lg-9">

		<hr />

		<a id="tldr"></a>
		<h2><i class="fa fa-coffee">&nbsp;</i>TL;DR</h2>
		{{page.tldr | markdownify}}
	</div>
	<div class="col-lg-3">
		&nbsp;
	</div>
</section>
{% endif %}

{% if page.links %}
<section class="row">
	<div class="col-lg-9">
		<hr />
		<h2>Links</h2>
		<ul>
			{% for link in page.links %}
			<li>
				<a href="{{link.link}}">{{ link.name }}</a>
			</li>
			{% endfor %}
		</ul>
	</div>
	<div class="col-lg-3">
		&nbsp;
	</div>
</section>
{% endif %}