<!DOCTYPE html>
<html lang="en">

	{% include head.html %}

	<body>

		<div class="content container post">
		
			{% include header.html %}
		
			<div class="row">
				<div class="col-md-12">
					<h1>{{ page.title }}</h1>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-12">
					<p class="smaller">
						Posted {{page.date | date_to_long_string }} {% if page.location %} | {{ page.location }} {% endif %} | {{ page.content | number_of_words }} words
					</p>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-7">
					{{ content }}
				</div>
				<div class="col-md-1">
				</div>
				<div class="col-md-4">
					<div class="panel panel-primary">
						<div class="panel-heading">
					    	<h3 class="panel-title">This post</h3>
					  	</div>
					  	<div class="panel-body">
					    	<div class="row">
								<div class="col-md-12">
									<span class="glyphicon glyphicon-tags">&nbsp;</span> 
									{% for tag in page.tags %}
										<a href="/tag/{{tag}}.html" title="Posts with tag {{tag}}">{{tag}}</a>&nbsp;
									{% endfor %}
								</div>
							</div>
							
							<div class="row">
								<div class="col-md-12">
									<span class="glyphicon glyphicon-link">&nbsp;</span>
									<a href="{{page.url}}">Permalink to this post</a>
								</div>
							</div>
							
							{% if page.links %}
							<hr />
							
							<div class="row">
								<div class="col-md-12">
									<h4>
										<span class="glyphicon glyphicon-link">&nbsp;</span>Related links
									</h4>
									<ul>
									{% for link in page.links %}
										<li>
											<a href="{{link.link}}">{{ link.name }}</a>
										</li>
									{% endfor %}
									</ul>
								</div>
							</div>
							{% endif %}
							
							<hr />
							<h4>
								<span class="glyphicon glyphicon-comment">&nbsp;</span>Share this post
							</h4>
							
							<ul>
								<li>
									<a href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{ site.url}}{{ page.url }}&amp;title={{ page.title }}&amp;summary=Put your summary here" target="_blank">Share on LinkedIn</a><br />
								</li>
								<li>
									<a href="http://twitter.com/share?text={{ page.title }}&amp;url={{ site.url }}{{ page.url }}" target="_blank">Share on Twitter</a>
								</li>
								<li>
									<a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}">Share on Google+</a>
								</li>
							</ul>
							
					  	</div>
					</div>
				</div>
			</div>
			
			{% include footer.html %}
		
		</div>
		
		{% include foot.html %}

	</body>

</html>