<!DOCTYPE html>
<html lang="en">

	{% include head.html %}

	<body>

		{% include header.html %}

		<div class="container page-header">
		
			<div class="row">
				<div class="col-md-12">
					<h1>{{site.data.tags[page.tag][0].name}} Posts</h1>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-8">
					{% assign postsByTag = site.tags[page.tag] %}
					{% include postlist.html posts=postsByTag %}
				</div>
				<div class="col-md-4">
					<h2>Posts by tag</h2>
					<ul class="list-group">
					{% for currentTag in site.tags | sort %}
					  	{% assign currentTagPlain = currentTag[0] %}
					  	<li class="list-group-item">
					    	<span class="badge">{{ site.tags[currentTagPlain] | size }}</span>
					    	<a href="/tag/{{currentTagPlain}}.html">
					    		{% if site.data.tags[currentTagPlain][0].abbr %}
					    		<abbr title="{{site.data.tags[currentTagPlain][0].abbr}}">
					    			{{site.data.tags[currentTagPlain][0].name}}	
					    		</abbr>
					    		{% else %}
					    			{{site.data.tags[currentTagPlain][0].name}}
					    		{% endif %}
					    	</a>
					  	</li>
					{% endfor %}
					</ul>
				</div>
			</div>
			
			{% include footer.html %}
		
		</div>
		
		{% include foot.html %}

	</body>

</html>