<!DOCTYPE html>
<html lang="en">

	{% include head.html %}

	<body class="theme-light">

		{% include header.html %}

		<section class="container main">

			<div class="row">
				<div class="col-md-12">
					<h1>{{ page.title }}</h1>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-12">
					<p class="small">
						Posted {{page.date | date_to_long_string }} {% if page.location %} | <i class="fas fa-map-marker">&nbsp;</i>{{ page.location }} {% endif %} | {{ page.content | number_of_words }} words
					</p>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-7">

					<section class="post-content">

						<img src="{{ page.image.url }}" title="{{ page.image.title }}" />

						{{ content }}



						{% if page.tldr %}
						<a id="tldr"></a>
						<div class="panel panel-primary">
  							<div class="panel-heading">
    							<h3 class="panel-title"><i class="fa fa-coffee">&nbsp;</i>TL;DR</h3>
  							</div>
  							<div class="panel-body">
    							{{page.tldr | markdownify}}
  							</div>
						</div>
						{% endif %}
					</section>

					<div class="panel panel-primary">
  						<div class="panel-body profile">
							<div class="row">
  								<div class="col-md-7">
									<div class="media">
  										<a class="pull-left" href="/about.html">
    										<img class="media-object profile" src="/assets/images/profile-picture.jpg" alt="Tiese Barrell" />
  										</a>
  										<div class="media-body profile">
  											<h4 class="media-heading">Tiese Barrell</h4>
  											<p>I should write something funny here.</p>
  										</div>
  									</div>
  								</div>
  								<div class="col-md-1">
  								</div>
  								<div class="col-md-4 profile-links">
  									<a class="profile" href="https://twitter.com/tiesebarrell">
  										<i class="fa fa-twitter"></i>
  									</a>
  									&nbsp;
  									<a class="profile" href="http://mazidea.com">
  										<i class="fa fa-globe"></i>
  									</a>
  								</div>
							</div>
						</div>
					</div>

				</div>
				<div class="col-md-1">
				</div>
				<div class="col-md-4">
					<div class="panel panel-primary">
					  	<div class="panel-body">
							{% if page.tldr %}
							<div class="row">
								<div class="col-md-12">
									<h4>
										<i class="fa fa-coffee">&nbsp;</i>TL;DR
									</h4>

									{{page.excerpt | markdownify }}

									<p>
										<a href="#tldr" class="">
											<i class="fa fa-coffee">&nbsp;</i>TL;DR
										</a>
									</p>
								</div>
							</div>

							<hr />

							{% endif %}

					    	<div class="row">
								<div class="col-md-12">
									<h4>
										<i class="fa fa-tags">&nbsp;</i>Tags
									</h4>
									{% for tag in page.tags %}
										<a href="/tag/{{tag}}" title="Posts with tag {{tag}}">{{tag}}</a>&nbsp;
									{% endfor %}
								</div>
							</div>

							<hr />
							
							<div class="row">
								<div class="col-md-12">
									<h4>
										<i class="fa fa-cloud">&nbsp;</i>Links
									</h4>
									<ul>
										<li>
											<a href="{{page.url}}">Permalink to this post</a>
										</li>
									{% if page.links %}
										{% for link in page.links %}
											<li>
												<a href="{{link.link}}">{{ link.name }}</a>
											</li>
										{% endfor %}
									{% endif %}
								</div>
							</div>
							
							<hr />

							<div class="row">
								<div class="col-md-12">
									<h4>
										<i class="fa fa-share-alt">&nbsp;</i>Share
									</h4>

									<div class="btn-group btn-group-justified">
										<a href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{ site.url}}{{ page.url }}&amp;title={{ page.title }}&amp;summary=Put your summary here" target="_blank" class="btn btn-primary btn-block">
											<i class="fa fa-linkedin">&nbsp;</i>
										</a>
										<a href="http://twitter.com/share?text={{ page.title }}&amp;url={{ site.url }}{{ page.url }}" target="_blank" class="btn btn-primary btn-block">
											<i class="fa fa-twitter">&nbsp;</i>
										</a>
										<a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" target="_blank" class="btn btn-primary btn-block">
											<i class="fa fa-google-plus">&nbsp;</i>
										</a>
									</div>
								</div>
							</div>
					  	</div>
					</div>
				</div>
			</div>

			{% include footer.html %}
		
		</section>
		
		{% include foot.html %}

	</body>

</html>